.mobileContainer {
  padding: 8px 16px;
  height: 64px;
  line-height: 150%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-style: normal;
  z-index: 100;
  margin-left: auto;
  margin-right: auto;
}

.closeIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 24px;
  margin-right: 8px;
}

.iconStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media only screen and (min-width: 861px) {
  .mobileContainer {
    display: none;
  }
}
