.tableContainer {
  height: 100%;
  width: 100%;
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-style: normal;
}

.tableContainerHeadRow > th {
  height: 28px;
  text-align: left;
  color: #975e9a;
  font-weight: 700;
  font-size: 10px;
  padding-right: 8px;
}

.tableItemNoEffect {
  color: #ffffff !important;
  text-decoration: none !important;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  padding: 4px 0;
}

.tableItem {
  color: #ffffff !important;
  text-decoration: none !important;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 4px 0;
  width: 100%;
}
.tableItem:hover {
  transform: scale(1);
}
.tableItem:active {
  opacity: 0.5;
  transform: scale(0.95);
}

.tableContainerBodyRow > td {
  height: 48px;
  padding-right: 8px;
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
  border-bottom: 1px solid rgba(166, 127, 168, 0.3);
}

.tabCheck {
  margin-right: 10px;
}

.tabCheck > svg {
  transform: translateY(1px);
}

.tableContainerBodyRow:last-child > td {
  border: none;
}

.timeRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.timeRow > svg {
  margin-right: 4px;
}

.keyRow {
  cursor: pointer;
  position: relative;
}

.commentRow {
  max-width: 480px;
}

.commentBlockRow {
  max-width: 360px;
}

@media only screen and (max-width: 1280px) {
  .commentRow {
    max-width: 320px;
  }
  .commentBlockRow {
    max-width: 280px;
  }
}

@media only screen and (max-width: 1200px) {
  .commentBlockRow {
    max-width: 200px;
  }
}

@media only screen and (max-width: 1080px) {
  .commentRow {
    max-width: 240px;
  }
  .commentBlockRow {
    display: none;
  }
  .commentBlockHead {
    display: none;
  }
}

@media only screen and (max-width: 960px) {
  .commentRow {
    max-width: 120px;
  }
}

@media only screen and (max-width: 860px) {
  .commentRow {
    display: none;
  }
  .commentHead {
    display: none;
  }
}

.keyRow > span {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

@media only screen and (max-width: 860px) {
  .keyRow > a {
    max-width: 480px;
  }
}

@media only screen and (max-width: 720px) {
  .keyRow > a {
    max-width: 380px;
  }
}

@media only screen and (max-width: 640px) {
  .keyRow > a {
    max-width: 300px;
  }
}

@media only screen and (max-width: 560px) {
  .keyRow > a {
    width: 148px;
  }
}

@media only screen and (max-width: 400px) {
  .keyRow > a {
    width: 96px;
    margin-right: 0;
  }
}

@media only screen and (max-width: 340px) {
  .keyRow > a {
    width: 64px;
  }
}

@media only screen and (max-width: 320px) {
  .keyRow {
    display: none;
  }
  .keyHead {
    display: none;
  }
}

@media only screen and (max-width: 860px) {
  .tableContainerHeadRow > th {
    line-height: 100%;
  }

  .tableContainerBodyRow {
    height: 32px;
  }

  .tableContainerBodyRow > td:first-child {
    min-width: 64px;
    word-break: break-all;
  }

  .tableContainerBodyRow > td {
    height: 32px;
    line-height: 100%;
    font-size: 12px;
  }
}
