.container {
  max-width: 100%;
  flex: 0 0 100%;
  margin-bottom: 24px;
}

.head {
  height: 28px;
  display: flex;
  align-items: center;
  color: #975e9a;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 16px;
}

.value {
  height: 48px;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  background: rgba(151, 94, 154, 0.34);
  font-size: 15px;
  color: #ffffff;
  border-radius: 10px;
  padding: 0 24px;
  user-select: none;
}

@media only screen and (max-width: 860px) {
  .container {
    padding: 0 16px;
    margin-bottom: 16px;
  }
  .value {
    font-size: 13px;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
