# About code owners: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*                                               @alber70g @randynamic @ggobugi27

/common                                         @alber70g @randynamic @ggobugi27

/packages/apps/explorer                         @alber70g @randynamic @ggobugi27
/packages/apps/graph                            @alber70g @randynamic @ggobugi27
/packages/apps/graph-client                     @alber70g @randynamic @ggobugi27 @eileenmguo
/packages/apps/kadena-docs                      @eileenmguo @sstraatemans @isaozler @ash-vd

/packages/libs/bootstrap-lib                    @alber70g @randynamic @ggobugi27
/packages/libs/chainweb-node-client             @alber70g @randynamic @ggobugi27
/packages/libs/chainweb-stream-client           @Takadenoshi
/packages/libs/chainwebjs                       @alber70g @randynamic @ggobugi27
/packages/libs/client                           @alber70g @randynamic @ggobugi27 @ash-vd
/packages/libs/cryptography-utils               @alber70g @randynamic @ggobugi27
/packages/libs/kadena.js                        @ash-vd @alber70g
/packages/libs/cryptography-utils               @alber70g @randynamic @ggobugi27
/packages/libs/pactjs                           @alber70g @randynamic @ggobugi27 @ash-vd
/packages/libs/pactjs-generator                 @alber70g @randynamic @ggobugi27
/packages/libs/pactjs-test-project              @alber70g @randynamic @ggobugi27
/packages/libs/react-components                 @eileenmguo @sstraatemans @isaozler
/packages/libs/types                            @alber70g @randynamic @ggobugi27

/packages/tools/cookbook                        @eileenmguo
/packages/tools/create-kadena-app               @jermaine150
/packages/tools/eslint-config                   @alber70g @randynamic @ggobugi27
/packages/tools/eslint-plugin                   @alber70g @randynamic @ggobugi27
/packages/tools/heft-rig                        @alber70g @randynamic @ggobugi27
/packages/tools/integration-tests               @alber70g @randynamic @ggobugi27
/packages/tools/pactjs-cli                      @alber70g @randynamic @ggobugi27 @ash-vd

/packages/tutorials                             @jermaine150 @randynamic
