# About code owners: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/.github                                        @alber70g @sstraatemans @javadkh2
/.changeset
/common                                         @alber70g
/pnpm-lock.yaml

# Apps
/packages/apps/dev-wallet                       
/packages/apps/dev-wallet-*                     
/packages/apps/docs                             
/packages/apps/explorer                         
/packages/apps/graph                            
/packages/apps/graph-client                     
/packages/apps/marmalade-marketplace            
/packages/apps/proof-of-us                      
/packages/apps/tools

# e2e2e tests
/packages/e2e
/packages/e2e/e2e-base                          
/packages/e2e/e2e-docs                          
/packages/e2e/e2e-graph                         
/packages/e2e/e2e-proof-of-us                   
/packages/e2e/e2e-tools                         

# Libraries
/packages/libs/bootstrap-lib                    
/packages/libs/chainweb-node-client             
/packages/libs/chainweb-stream-client
/packages/libs/chainwebjs
/packages/libs/client                           
/packages/libs/client-utils                     
/packages/libs/cryptography-utils               
/packages/libs/hd-wallet                        
/packages/libs/kadena.js                        
/packages/libs/kode-icons                       
/packages/libs/kode-ui                          
/packages/libs/pactjs                           
/packages/libs/pactjs-generator                 
/packages/libs/types                            
/packages/tools/eslint-config                   
/packages/tools/eslint-plugin                   
/packages/tools/pactjs-cli                      
/packages/tools/shared-config                   

# Tools
/packages/tools                                 
/packages/tools/docs-tools                      
/packages/tools/kadena-cli                      

