# About code owners: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/.github                                        @ghislain89 @alber70g @sstraatemans @javadkh2
/.changeset
/common                                         @alber70g
/pnpm-lock.yaml

# Apps
/packages/apps/dev-wallet                       @alber70g @javadkh2
/packages/apps/dev-wallet-*                     @alber70g @javadkh2
/packages/apps/docs                             @sstraatemans
/packages/apps/explorer                         @sstraatemans @alber70g
/packages/apps/graph                            @alber70g
/packages/apps/graph-client                     @alber70g 
/packages/apps/marmalade-marketplace            @jermaine150 @ggobugi27
/packages/apps/proof-of-us                      @sstraatemans
/packages/apps/tools

# e2e2e tests
/packages/e2e
/packages/e2e/e2e-base                          @sstraatemans
/packages/e2e/e2e-docs                          @sstraatemans
/packages/e2e/e2e-graph                         @sstraatemans @alber70g
/packages/e2e/e2e-proof-of-us                   @sstraatemans
/packages/e2e/e2e-tools                         

# Libraries
/packages/libs/bootstrap-lib                    @alber70g
/packages/libs/chainweb-node-client             @alber70g
/packages/libs/chainweb-stream-client
/packages/libs/chainwebjs
/packages/libs/client                           @alber70g @javadkh2 @nillo
/packages/libs/client-utils                     @alber70g @javadkh2 @jermaine150 @ggobugi27
/packages/libs/cryptography-utils               
/packages/libs/hd-wallet                        @alber70g @javadkh2
/packages/libs/kadena.js                        @alber70g @javadkh2
/packages/libs/kode-icons                       @sstraatemans @isaozler
/packages/libs/kode-ui                          @sstraatemans @isaozler
/packages/libs/pactjs                           @alber70g @javadkh2
/packages/libs/pactjs-generator                 @alber70g @javadkh2
/packages/libs/types                            @alber70g
/packages/tools/eslint-config                   @alber70g
/packages/tools/eslint-plugin                   @alber70g
/packages/tools/pactjs-cli                      @alber70g @javadkh2
/packages/tools/shared-config                   @alber70g

# Tools
/packages/tools                                 @alber70g
/packages/tools/docs-tools                      @sstraatemans
/packages/tools/kadena-cli                      @alber70g @nillo @barthuijgen

