{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "proseWrap": "always",
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-packagejson"
  ],
  "organizeImportsSkipDestructiveCodeActions": true,
  "overrides": [
    {
      "files": "./packages/apps/docs/src/**/*.md",
      "options": {
        "proseWrap": "never"
      }
    }
  ]
}
