.welcome-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: #050e1b;
  opacity: 0;
}
.welcome-message-content {
  display: flex;
  padding: 40px 100px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #14202b;
  color: #ffffffb3;
  font-family: 'Roboto', sans-serif;
  font-smooth: antialiased;
  gap: 10px;
  line-height: 3rem;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}
body.boot.boot-theme-light .welcome-wrapper {
  background: #f5f5f5;
}

body.boot.boot-theme-light .welcome-wrapper .welcome-message-content {
  background: #e7e8e9;
  color: #494949;
}
body.boot {
  margin: 0;
  background: #050e1b;
}
body.boot.boot-theme-light {
  background: #f5f5f5;
  color: #050e1b;
}
