.container {
  max-width: 60%;
  flex: 0 0 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.value {
  height: 36px;
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background: rgba(166, 127, 168);
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
  padding: 0 16px;
  user-select: none;
}

