.container {
  position: relative;
}

.icon {
  cursor: pointer;
}

.dropdownMenu {
  background: #ffffff;
  border-radius: 5px;
  font-size: 13px;
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-style: normal;
  top: calc(100% + 8px);
  position: absolute;
  min-width: 160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item {
  color: #120d23;
  cursor: pointer;
  border-top: 0;
  padding: 8px 16px;
  width: 100%;
  border-bottom: 1px solid;
  border-image-slice: 1;
  text-transform: uppercase;
  border-image-source: linear-gradient(
    to right,
    rgba(166, 127, 168, 0),
    rgba(166, 127, 168, 0.5),
    rgba(166, 127, 168, 0.5),
    rgba(166, 127, 168, 0)
  );
}

.item > svg {
  margin-left: 4px;
}

.dropdownMenuItem {
  display: flex;
  flex-direction: column;
}

.item > span {
  text-transform: uppercase;
}

.menuItem {
  padding: 8px;
  margin: 0 16px;
  text-decoration: none;
}

.menuItem:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.itemCoin {
  margin: 0px 8px;
  border-bottom: 0;
  padding-bottom: 0;
}

.subMenu {
  width: 222px;
}

.subMenuFinish {
  position: relative;
}

.iconWarning {
  position: absolute;
}
