.container {
  max-width: 120px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 27px;
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-style: normal;
  background: #ffffff;
  z-index: 10;
  right: 32px;
  border-radius: 10px 0 10px 10px;
}

.netContainer {
  width: 100%;
}

.row {
  color: rgb(60 36 83);
  font-size: 13px;
  cursor: pointer;
  border-top: 0;
  padding: 8px 16px;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    rgba(166, 127, 168, 0),
    rgba(166, 127, 168, 0.5),
    rgba(166, 127, 168, 0.5),
    rgba(166, 127, 168, 0)
  );
}

.row {
  transition: all 300ms ease-in-out;
  text-decoration: none !important;
}
.row:hover {
  transform: scale(1.05);
}
.row:active {
  opacity: 0.5;
  transform: scale(0.95);
}

.dropdownMobileMenu {
  width: 265px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-style: normal;
}

.dropdownMobileMenu > a {
  padding: 8px;
  margin: 0 16px;
}

.dropdownMobileMenu > a:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.dropdownMobileMenu > .row {
  padding: 8px;
  margin: 0 16px;
}

.dropdownMobileMenu > .row:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

@media only screen and (min-width: 1461px) {
  .container {
    right: 0;
  }
}
