.hero-section {
  /* todo: add background-image */
}
.main {
  text-align: center;
}
.section-dark-green {
  background-color: var(--color-green-004);
  color: var(--color-orange-003);
}
.section-green {
  background-color: var(--color-green-002);
  color: var(--color-orange-003);
}
.description {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;

  /* laptops (1024px and up) */
  @media (min-width: 64rem) {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
}