@property --progress-value {
  syntax: '<integer>';
  inherits: false;
  initial-value: 0;
}

.progress_bar {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  /* to center the percentage value */
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 0;
  background: radial-gradient(
      closest-side,
      #1e1726 66%,
      transparent 65% 100%,
      #1e1726 0
    ),
    conic-gradient(#9d42fb calc(var(--progress-value) * 1%), #413949 0);
}
