.infoContainer {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-style: normal;
}

.loadingInfo {
  align-self: center;
  text-align: center;
  justify-content: center;
}

.info {
  height: 28px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #975e9a;
  font-size: 17px;
  font-weight: 700;
  margin: 16px 0;
}

.infoText {
  line-height: 150%;
  color: #ffffff;
  font-weight: 400;
  font-size: 17px;
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-style: normal;
  word-break: break-all;
  padding-right: 24px;
}

@media only screen and (max-width: 860px) {
  .info {
    height: 20px;
    font-size: 13px;
    margin: 24px 0 8px 0;
  }
  .infoText {
    font-size: 13px;
  }
}
