.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.checkBalanceContainer {
  max-width: 500px;
  width: 100%;
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-style: normal;
}

.checkBalanceContainer {
  max-width: 500px;
  width: 100%;
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-style: normal;
}

.balanceController {
  background: rgb(0 0 0 / 50%);
  border-radius: 40px;
  padding: 32px 32px 16px 32px;
}

.balanceController [class*='head'] {
  color: #ffffff;
}

.notificationContainer {
  margin-bottom: 16px;
}

.containerHistory {
  width: 100%;
  margin-left: 40px;
  overflow: hidden;
}

@media only screen and (max-width: 860px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .balanceController {
    padding: 16px 0;
  }
  .balanceController {
    border-radius: 20px;
  }
  .textDanger {
    margin: -20px 16px 0 16px;
  }
}
