.transactionDetails {
  height: 100%;
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-style: normal;
  padding: 32px 74px;
  margin-top: 96px;
}

.transactionLink {
  margin: 0 32px 32px 32px;
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  word-break: break-all;
}

.transactionHeader {
  height: 28px;
  display: flex;
  align-items: center;
  color: #975e9a;
  font-size: 24px;
  font-weight: 700;
  margin: 16px 32px 40px 32px;
}

.transactionBlocks {
  display: flex;
}

.transactionBlockDetails {
  flex-direction: column;
}

.transactionBlockDetails > .blocks {
  margin-right: 0;
}

.blockHistoryPage {
  background: red;
}

.transactionError {
  justify-content: flex-start;
  color: #ffffff;
  margin: 0 32px;
  font-size: 18px;
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-style: normal;
}

.blocks {
  flex: 1;
  margin-right: 48px;
}

.error {
  color: #ffffff;
  justify-content: flex-start;
  font-size: 18px;
  margin: 0 32px;
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-style: normal;
}

@media only screen and (max-width: 860px) {
  .transactionDetails {
    margin-top: 32px;
    padding: 28px 16px;
  }

  .transactionBlocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .transactionLink {
    font-size: 20px;
    margin: 24px 16px 16px 16px;
  }

  .transactionHeader {
    font-size: 13px;
    margin: 8px 0 16px 16px;
  }

  .blocks {
    margin-right: 0;
  }
}

@media only screen and (min-width: 860px) and (max-width: 1365px) {
  .transactionDetails {
    padding: 32px 24px;
  }

  .blocks {
    margin-right: 32px;
  }
}
