.toolsContainer {
  max-width: 500px;
  display: flex;
  position: absolute;
  top: 27px;
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-style: normal;
  margin-right: 10px;
  z-index: 10;
}

.command {
  width: 192px;
  padding: 24px 16px 16px 16px;
  display: flex;
  align-items: center;
  background: #ffffff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.head {
  height: 28px;
  display: flex;
  align-items: center;
  color: #6c0097 !important;
  text-decoration: none !important;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
}

.coin {
  width: 192px;
  padding: 24px 16px 16px 16px;
  display: flex;
  align-items: center;
  background: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.submenuContainer {
  max-width: 500px;
  display: flex;
  position: absolute;
  top: 68px;
  left: 188px;
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-style: normal;
  background: #ffffff;
  border-radius: 10px;
  padding: 0px 16px 16px 16px;
  z-index: 10;
  border-top-left-radius: 0;
  display: none;
}

.coin:hover {
  border-bottom-right-radius: 0;
}

.coin:hover .submenuContainer {
  display: block;
}

.submenuContainer > div {
  display: flex;
  flex-direction: column;
  width: 190px;
}

.submenu {
  color: rgb(60 36 83);
  font-size: 13px;
  cursor: pointer;
  border-top: 0;
  padding: 8px 0px;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    rgba(166, 127, 168, 0),
    rgba(166, 127, 168, 0.5),
    rgba(166, 127, 168, 0.5),
    rgba(166, 127, 168, 0)
  );
}

.submenu:last-child {
  margin-bottom: -16px;
}

.submenuFinish {
  position: relative;
}

.submenuFinish > svg {
  position: absolute;
  top: 9px;
}
