.envContainer {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-style: normal;
  padding: 32px;
}

@media only screen and (max-width: 860px) {
  .envContainer {
    padding: 16px 0 0 0;
  }
  .textDanger {
    margin: -20px 16px 0 16px;
  }
}

@media only screen and (min-width: 860px) and (max-width: 1365px) {
  .envContainer {
    padding: 16px;
  }
}
