.carouselItem {
  height: 184px;
  width: 320px;
  color: #ffffff;
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-weight: 700;
  background: rgb(0 0 0 / 50%);
  font-style: normal;
  border-radius: 40px;
  padding: 32px 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.carouselItem:active {
  opacity: 0.5;
  transform: scale(0.95);
}

.carouselItemActive {
  height: 200px;
  padding-top: 48px;
  background: #975e9a;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  cursor: auto;
}

.carouselItemActive:active {
  transform: none;
  opacity: 1;
}

.carouselItemActive > .bannerTitle {
  color: #3c2453;
}

.icon {
  display: flex;
}

.icon > svg {
  margin: 20px 0 0 16px;
}

.bannerTitle {
  color: #975e9a;
  font-size: 16px;
  margin: 0 0 8px 24px;
}

.bannerValue {
  font-size: 36px;
  margin: 0 0 10px 24px;
}

.bannerMobileButton {
  display: none;
}

.timeInterval {
  display: flex;
  margin: 0 24px;
  justify-content: space-between;
}

.itemTime {
  font-size: 10px;
  text-transform: uppercase;
  color: #3c2453;
  border: solid 1px;
  padding: 6.5px 7.5px;
  border-radius: 13px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.itemTime:active {
  opacity: 0.5;
  transform: scale(0.95);
}

.itemTimeActive {
  background: #3c2453;
  border: solid 1px #3c2453;
  color: #fff;
}

@media only screen and (max-width: 860px) {
  .carouselItem {
    max-width: 200px;
    height: 136px;
    border-radius: 20px;
    padding: 0;
  }

  .carouselItemActive {
    height: 160px;
    border-radius: 0 0 20px 20px;
    padding-top: 24px;
  }

  .bannerTitle {
    height: 28px;
    display: flex;
    align-items: center;
    line-height: 100%;
    font-size: 13px;
    margin: 8px 0 0 16px;
  }

  .bannerChart {
    position: relative;
  }

  .bannerValue {
    font-size: 21px;
    margin: 0 0 0 16px;
  }

  .icon > svg {
    margin: 16px 0 0 16px;
  }

  .bannerButton {
    display: none;
  }

  .bannerMobileButton {
    display: block;
  }

  .timeInterval {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    margin: 0 16px;
  }

  .itemTime {
    font-size: 8.5px;
    padding: 5.5px 6.5px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .carouselItem {
    max-width: 280px;
  }
  .itemTime {
    font-size: 9px;
    padding: 6px 7px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 390px) {
  .itemTime {
    font-size: 8.25px;
    padding: 3px 3px;
  }
}

@media only screen and (min-width: 1366px) {
  .carouselItem {
    max-width: 295px;
  }
}
