.commandContainer {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-style: normal;
  padding: 32px 74px;
  margin-top: 96px;
  margin-bottom: 24px;
}

.commandHeader {
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  margin: 0 0 48px 0;
}

.commandBlocks {
  display: flex;
  align-items: flex-start;
}

.blocks {
  width: 100%;
  max-width: 768px;
  background: rgb(0 0 0 / 50%);
  flex: 0 0 auto;
  border-radius: 40px;
  margin-right: 48px;
  z-index: 13;
}
.visibleBlocks {
  z-index: 15;
}
.visibleBlocks > div:first-child {
  pointer-events: none;
}
.transactionBtn {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}

.previewTransactionBtn {
  height: 48px;
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3c2453;
  font-weight: 700;
  font-size: 18px;
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-style: normal;
  background: #c0fb50;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}

.previewTransactionBtn:disabled {
  opacity: 0.5;
  cursor: default;
}

@media only screen and (max-width: 860px) {
  .commandContainer {
    margin-top: 48px;
    padding: 28px 0;
    margin-bottom: 0;
  }

  .commandBlocks {
    flex-direction: column;
    justify-content: center;
  }

  .commandHeader {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    padding-left: 16px;
    margin-bottom: 16px;
  }

  .blocks {
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 0;
    border-radius: 20px;
  }

  .transactionBtn {
    margin-top: 18px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  .commandContainer {
    padding: 32px 16px 0 16px;
  }

  .blocks {
    max-width: 630px;
  }
}

@media only screen and (min-width: 860px) and (max-width: 1023px) {
  .commandContainer {
    padding: 32px 16px 0 16px;
  }

  .blocks {
    max-width: 450px;
  }
}
