.historyContainer {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-style: normal;
  font-size: 17px;
}

.outputHeader {
  height: 28px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: 700;
  padding: 32px 0;
}

.nonce {
  padding: 48px 0 24px 0;
}

.events {
  padding: 48px 0 24px 0;
}

.output {
  border-top: 0;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    rgba(166, 127, 168, 0),
    rgba(166, 127, 168, 0.3),
    rgba(166, 127, 168, 0.3),
    rgba(166, 127, 168, 0)
  );
}

.output:last-child {
  border-bottom: 0;
}

.outputName {
  color: #975e9a;
  font-weight: 700;
  padding-top: 16px;
}

.outputValue {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-weight: 400;
  padding: 8px 0 20px 0;
}

.outputValue > svg {
  margin-right: 8px;
}

@media only screen and (max-width: 860px) {
  .historyContainer {
    margin-top: 40px;
    padding: 0;
    width: 100%;
    margin-left: 0;
    max-width: 500px;
  }

  .outputHeader {
    height: 24px;
    font-size: 15px;
    padding: 0;
    margin: 8px 0 16px 0;
  }

  .output {
    margin-bottom: 20px;
  }

  .outputName {
    font-size: 10px;
    padding: 0;
  }

  .outputValue {
    font-size: 13px;
  }

  .nanceValue {
    border: 0;
  }

  .eventValue {
    border: 0;
  }

  .nonce {
    padding: 0;
    margin-top: 16px;
  }
  .events {
    padding: 0;
    margin-top: 16px;
  }
}
