.searchInput {
  width: 100%;
  max-width: 470px;
  margin-right: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(151, 94, 154, 0.1);
  border-radius: 40px;
  padding: 0 28px 0 0px;
  transition: all 200ms ease-in-out;
}

.activeSearchInput {
  background: #ffffff;
}

.searchInputClass {
  height: 28px;
  width: 100%;
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  background: transparent;
  outline: none;
  border: none;
  margin-right: 8px;
  padding-left: 16px;
}

.mobileSearchInput {
  margin: 0 !important;
  width: 100%;
  height: 40px;
}

.close {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.loupe {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .searchInput {
    margin: 0 16px;
    padding: 0 16px 0 0px;
  }
  .searchInputClass {
    font-size: 13px;
    padding-left: 8px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  .searchInput {
    margin: 0 16px;
  }
}

@media only screen and (max-width: 860px) {
  .searchInput {
    max-width: none;
  }
}
