
/*@font-face {*/
/*  font-family: 'NeueHaasDisplay-Roman';*/
/*  src: local('NeueHaasDisplay-Roman'), url('../../fonts/NeueHaasDisplay-Roman.woff') format('woff');*/
/*}*/

.layout {
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 24px;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  -o-object-fit: contain;
  object-fit: contain;

  background: url('../../assets/slide@2x.svg') center center no-repeat fixed;
  background-size:cover;

  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: white;
}
