.card {
  background: var(--color-orange-003);
  border-radius: var(--border-radius-sm);
  color: var(--color-green-004);
  font-size: 1.2rem;
  text-align: left;
  padding: 2rem;
  min-width: 15rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  opacity: 1;

  .card-title {
    color: var(--color-green-002);
    text-transform: uppercase;
    font-family: var(--font-code);
    font-weight: bold;
  }

  .card-button {
    text-align: right;
  }

  .card-placeholder {
    font-size: 0;
    line-height: 0;
    margin: 1.5rem 0;
  
    span {
      display: block;
      background-color: var(--color-green-004);
      height: 0.9rem;
      margin: 0.25rem 0;
      min-width: 15%;
      transition: 2s;
    }
  }

  button {
    transition: 2s;
  }

  &.disabled {
    opacity: 0.8;

    .card-placeholder span {
      opacity: 0.4;
    }

    &:hover {
      opacity: 1;
    }
  }
}