.transferFormContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.transferController {
  display: flex;
  justify-content: space-between;
  background: rgb(0 0 0 / 50%);
  border-radius: 40px;
  gap: 20px;
}

.backgroundNone {
  background: transparent;
}

.transferController [class*='selectBlock'] {
  min-width: 140px;
}

.senderContainerRow {
  border: 0;
  border-top: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    rgba(166, 127, 168, 0),
    rgba(166, 127, 168, 1),
    rgba(166, 127, 168, 1),
    rgba(166, 127, 168, 0)
  );
  margin-bottom: 16px;
}

.sender {
  width: 100%;
  max-width: 500px;
  background: rgb(0 0 0 / 50%);
  border-radius: 40px;
  padding: 32px 32px 16px 32px;
}

.sender div[class*='controller']:first-child {
  width: 100%;
}

.sender [class*='head'] {
  color: #ffffff;
}

.sender [class*='selectBlock'] > select {
  color: #975e9a;
}

.sender [class*='inputBlock'] {
  display: flex;
  flex-direction: row-reverse;
}

.getHash {
  height: 48px;
  line-height: 150%;
  min-width: 100px;
  color: #975e9a;
  background: transparent;
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  border: none;
  cursor: pointer;
}

.receiver {
  width: 100%;
  max-width: 500px;
}

.receiverContainer {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  padding: 32px 32px 0 32px;
}

.receiverKeyContainer {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  padding: 0 32px 16px 32px;
}

.receiver div[class*='controller']:first-child {
  width: 100%;
}

.receiver [class*='head'] {
  color: #ffffff;
}

.receiver [class*='selectBlock'] > select {
  color: #975e9a;
}

.mainnet {
  width: 100%;
  max-width: 20%;
  display: flex;
  justify-content: center;
  flex-shrink: 1;
  position: relative;
  margin: 82px 16px 0 16px;
}

.mainnetArrow {
  height: 35px;
  display: flex;
  align-items: center;
  position: absolute;
}

.mainnet [class*='selectBlock'] {
  height: 35px;
  line-height: 150%;
  width: 120px;
  background: #975e9a;
  border-radius: 100px;
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-style: normal;
  font-size: 15px;
  z-index: 10;
  cursor: pointer;
}

.mainnet [class*='selectBlock'] > select {
  height: 35px;
  font-size: 13px;
}

.coinInfo {
  display: flex;
  position: relative;
  padding: 32px;
}

.coinText {
  max-width: 380px;
  line-height: 175%;
  color: #f6cc62;
  font-size: 10px;
  font-weight: 800;
  text-transform: uppercase;
  margin-left: 16px;
}

@media only screen and (max-width: 860px) {
  .balanceController {
    padding: 16px 0;
  }

  .sender,
  .transferController {
    border-radius: 20px;
  }

  .sender,
  .receiverContainer,
  .receiverKeyContainer {
    padding: 16px 0;
  }

  .receiverContainer {
    padding-bottom: 0;
  }

  .receiverKeyContainer {
    padding-top: 0;
  }

  .balanceController {
    border-radius: 20px;
  }

  .textDanger {
    margin: -20px 16px 0 16px;
  }

  .transferController [class*='selectBlock'] {
    margin-left: 0;
  }

  .transferController [class*='inputBlock'] {
    margin-right: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .transferFormContainer {
    flex-direction: column;
    gap: 32px;
  }

  .mainnet {
    display: none;
  }
}
