.aboutContainer {
  height: 100%;
  color: #ffffff;
  padding: 0 74px 32px 74px;
  margin-top: 84px;
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
}

.header {
  margin-top: 12px;
  color: #975e9a;
  padding: 24px 0 16px 0;
}

.ulRow {
  margin-left: 16px;
  word-break: break-all;
}

.ulRow > li {
  word-break: break-all;
}

@media only screen and (max-width: 860px) {
  .aboutContainer {
    margin-top: 24px;
    padding: 16px 24px;
    font-size: 13px;
  }
}
