.containerText {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.text {
  color: white;
  font-family: Ruberoid, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

.containerLogo {
  line-height: 150%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  color: #fff;
  font-family: Ruberoid, sans-serif;
  font-style: normal;
  padding: 24px 16px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: flex;
  width: 100%;
  max-width: 1540px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
