.historyContainer {
  flex: 0 1 35%;
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-style: normal;
  font-size: 17px;
}

.blockHistory {
  padding: 0 32px;
}

.outputHeader {
  height: 28px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: 700;
  padding: 32px 0;
}

.nonce {
  padding: 48px 0 24px 0;
}

.events {
  padding: 48px 0 24px 0;
}

.output {
  border-top: 0;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    rgba(166, 127, 168, 0),
    rgba(166, 127, 168, 0.3),
    rgba(166, 127, 168, 0.3),
    rgba(166, 127, 168, 0)
  );
}

.output:last-child {
  border-bottom: 0;
}

.outputName {
  color: #975e9a;
  font-weight: 700;
  padding-top: 16px;
}

.outputValue {
  display: flex;
  align-items: flex-start;
  color: #ffffff;
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-weight: 400;
  word-break: break-all;
  padding: 8px 0 20px 0;
}

.outputList {
  flex: 1;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
}

.outputLink {
  text-decoration: none !important;
  color: #ffffff !important;
}
.outputLink:hover {
  transform: scale(1);
}
.outputLink:active {
  opacity: 0.5;
  transform: scale(0.95);
}
.outputLink:not(:empty):after {
  display: inline-block;
  content: '';
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: currentColor;
  -webkit-mask: url('/images/arrow.svg') no-repeat 50% 50%;
  mask: url('/images/arrow.svg') no-repeat 50% 50%;
  margin: 0 0 -1px 8px;
  width: 14px;
  height: 14px;
}

.outputValue > svg {
  margin-top: 5px;
  margin-right: 8px;
}

@media only screen and (max-width: 860px) {
  .historyContainer {
    padding: 0 16px;
  }

  .blockHistory {
    padding: 0 16px;
  }

  .outputHeader {
    height: 24px;
    font-size: 15px;
    padding: 0;
    margin: 8px 0 16px 0;
  }

  .output {
    margin-bottom: 20px;
  }

  .outputName {
    font-size: 10px;
    padding: 0;
  }

  .outputValue {
    font-size: 13px;
  }

  .nanceValue {
    border: 0;
  }

  .eventValue {
    border: 0;
  }

  .nonce {
    padding: 0;
    margin-top: 16px;
  }
  .events {
    padding: 0;
    margin-top: 16px;
  }

  .outputValue > svg {
    margin-top: 2px;
  }

  .outputLink:not(:empty):after {
    margin: 0 0 -1px 4px;
    width: 10px;
    height: 10px;
  }
}
