.chainTransferController [class*='inputBlock'] {
  display: flex;
  flex-direction: row-reverse;
}

.chainTransferController [class*='icon'] {
  margin-right: 0;
}

.main {
  height: 48px;
  width: 100px;
  color: #3c2453;
  background: #975e9a;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 400;
  font-size: 15px;
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-style: normal;
  border: none;
}
