.root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  transition: all 300ms ease-in-out;
}

.mainBgOpacity {
  background-color: rgba(255, 255, 255, 0.03);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.globalBgOpacity {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(195.61deg, #340e4e 28.87%, #511133 95.39%);
}

.bannerButtonDropdown::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
}

.bannerButtonDropdown {
  overflow: hidden;
}

.bannerButtonDropdown .mainContentClass {
  z-index: 18;
}

.bannerButtonDropdown .mainContentClass::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.bannerButtonDropdown header[class*='headerTop'] {
  background-color: rgb(23, 13, 40) !important;
}

.mainContentClass {
  max-width: 1440px;
  width: 100%;
  flex-grow: 1;
  position: relative;
  flex-direction: column;
  display: flex;
  min-height: 100vh;
  z-index: 15;
}

.mainContentClass.openSearch::after {
  content: '';
}

.mobileContainer {
  display: none;
}

@media only screen and (max-width: 860px) {
  .bannerButtonDropdown::after {
    height: 64px;
  }
  .mainContentClass {
    padding-top: 0;
  }
  .desktopContainer {
    display: none;
  }
  .mobileContainer {
    display: flex;
    width: 100%;
  }
  .mainContentClass::after {
    background: #30184b;
  }
}
