.switch {
  cursor: pointer;  
  display: block;  
  position: relative;
  width: 4.2rem;
  height: 2.4rem;
  padding: 0px 0.2rem;
  border-radius: 2.4rem;
  background: rgba(22, 51, 0, 0.20);

  &:after {
    content: '';   
    position: absolute;    
    width: 2rem;
    height: 2rem;
    left: 0.2rem;
    top: 0.2rem;     
    background-color: var(--color-orange-003);    
    border-radius: 40px;    
    transition: 0.5s;
  }

  &.checked {
    background-color: var(--color-green-002);

    &:after {
      background-color: var(--color-green-003);
      left: calc(50% - 0.1rem);
      transition: 0.5s;
    }
  }
}
.switch-input {
  visibility: hidden;
  height: 0;
  width: 0;
}