@import '/fonts/stylesheet.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  background: linear-gradient(195.61deg, #340e4e 28.87%, #511133 95.39%);
  overflow-x: hidden !important;
}

body {
  position: relative;
  width: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

#__next {
  height: 100%;
  width: 100%;
}

button {
  transition: all 300ms ease-in-out;
  text-decoration: none !important;
}
button:hover {
  transform: scale(1.05);
}
button:active {
  opacity: 0.5;
  transform: scale(0.95);
}
button:disabled {
  opacity: 0.5;
  transform: scale(1);
}

a {
  transition: all 300ms ease-in-out;
  text-decoration: none !important;
}
a:hover {
  transform: scale(1.05);
}
a:active {
  opacity: 0.5;
  transform: scale(0.95);
}
a:disabled {
  opacity: 0.5;
  transform: scale(1);
}

.mainChartContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 440px;
  margin-top: 140px;
}

@media only screen and (max-width: 1024px) {
  .mainChartContainer {
    flex-grow: unset;
    min-height: unset;
  }
}

@media only screen and (max-width: 860px) {
  .mainChartContainer {
    margin-top: 96px;
  }
  .mobileHidden {
    display: none;
  }
}
