.container {
  margin-bottom: 16px;
}

.addedBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #975e9a;
  margin-bottom: 16px;
  padding-left: 24px;
}

.text {
  width: calc(100% - 116px);
  overflow: hidden;
}

.plusBlock {
  display: flex;
}

.plus {
  height: 48px;
  width: 90px;
  min-width: 90px;
  background: #975e9a;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 860px) {
  .block {
    margin-bottom: 16px;
  }

  .addedBlock {
    margin-bottom: 16px !important;
  }
}
