@import 'breakpoints';
:root {
  --max-width: 1280px;
  --max-width-md: 1024px; 
  --max-width-sm: 700px;

  --color-orange-001: #FF880F;
  --color-orange-002: #311602;
  --color-orange-003: #FFF5EB;
  --color-orange-004: #7E3906;
  --color-green-001: #9FE870;
  --color-green-002: #163300;
  --color-green-003: #55DF1E;
  --color-green-004: #0B1A00;
  --color-white: #FFFFFF;

  --border-radius-xs: 0.25rem;
  --border-radius-sm: 1rem;
  --border-radius-lg: 2.5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-orange-002);
  background-color: var(--color-orange-003);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: var(--font-code);
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  color: var(--color-orange-002);
  letter-spacing: -0.1rem;
  margin: 1rem 0;
}

h2 {
  font-family: var(--font-code);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--color-orange-002);
  letter-spacing: -0.1rem;
  margin: 1rem 0 3rem;
}

h3 {
  font-family: var(--font-code);
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: var(--color-orange-002);
  letter-spacing: -0.1rem;
  margin: 1rem 0;
}

h4 {
  font-size: 1.5rem;
}
@include breakpoint('sm') {
  h1 {
    font-size: 4rem;
    line-height: 4.5rem;
  }
  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  h3 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}

@include breakpoint('md') {
  h1 {
    font-size: 5rem;
    line-height: 5.5rem;
  }
  h2 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  h3 {
    font-size: 2.8rem;
    line-height: 3rem;
  }
}

@include breakpoint('lg') {
  h1 {
    font-size: 6rem;
    line-height: 6.8rem;
    letter-spacing: -0.16rem;
  }
  h2 {
    font-size: 4rem;
    line-height: 4.5rem;
    letter-spacing: -0.16rem;
  }
  h3 {
    font-size: 3.2rem;
    line-height: 3.5rem;
    letter-spacing: -0.16rem;
  }
  h4 {
    font-size: 2rem;
  }
}

.color-green {
  color: var(--color-green-003);
}
.color-orange {
  color: var(--color-orange-001);
}
.color-light {
  color: var(--color-orange-003);
}

.container-inner {
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: center;
  padding: 2rem 1rem;

  @include breakpoint('md') {
    padding: 4rem 1rem;
  }
}
.container-small {
  max-width: var(--max-width-md);
  margin: 0 auto;
}

.content-block {
  p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }

  .button {
    margin-top: 2rem;
  }
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  text-align: left;

  @include breakpoint('md') {
    flex-direction: row;
    gap: 4rem;
  }
}

