.coinContainer {
  width: 100%;
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-style: normal;
  padding: 32px 74px 0 74px;
  margin-top: 96px;
  margin-bottom: 24px;
}

.coinHeader {
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
}

.coinBlocks {
  display: flex;
}

.blocks {
  width: 100%;
  flex: 0 0 auto;
  border-radius: 40px;
}

@media only screen and (max-width: 860px) {
  .coinContainer {
    margin-top: 40px;
    margin-bottom: 0;
    padding: 28px 0;
  }

  .coinHeader {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    padding-left: 16px;
  }

  .coinBlocks {
    margin: 0 16px;
  }

  .blocks {
    border-radius: 20px;
  }
}

@media only screen and (min-width: 860px) and (max-width: 1365px) {
  .coinContainer {
    padding: 32px 16px 0 16px;
  }
}
