.notificationContainer {
  background: #f6cc6224;
  color: #f6cc62;
  padding: 14px 17px;
}

.container {
  display: flex;
  align-items: center;
}

.textContainer {
  padding-left: 16px;
  width: 100%;
  overflow: hidden;
}

.text {
  font-weight: bold;
}

.iconInfo {
  align-self: flex-start;
}

.iconClose {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.keyContainer {
  padding-top: 20px;
}

.keyContainer > div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}

.keyContainer > div:last-child {
  padding-bottom: 0;
}

.keyText {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 400px) {
  .notificationContainer {
    font-size: 13px;
  }
}
