.carousel-container {
  position: relative;
}

.carousel-container .swiper-slide {
  display: inline-flex;
  align-items: flex-end;
  margin-top: auto;
}

.carousel-container .swiper-pagination-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(16px);
  /*display: none;*/
}

.carousel-container .swiper-pagination-custom .swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background-color: rgba(166, 127, 168, 0.5);
}

.carousel-container .swiper-pagination-custom .swiper-pagination-bullet-active {
  background-color: #f6cc62;
}

@media only screen and (max-width: 860px) {
  .carousel-container {
    padding: 0 16px;
  }
}

@media only screen and (max-width: 1024px) {
  .carousel-container .swiper-pagination-custom {
    display: flex;
  }
}

@media only screen and (min-width: 1025px) {
  .carousel-container .swiper-pagination-custom {
    display: none;
  }
}
