.container {
  display: flex;
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  width: 400px;
  justify-content: space-between;
  color: #ffffff;
  font-weight: 700;
  font-size: 17px;
  border-top: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    rgba(166, 127, 168, 0),
    rgba(166, 127, 168, 0.5),
    rgba(166, 127, 168, 0.5),
    rgba(166, 127, 168, 0)
  );
  padding: 14px 20px;
  border-radius: 15px;
}

.mobileContainer {
  margin: 0 16px;
  align-items: center;
  width: auto;
  background: rgb(0 0 0 / 50%);
}

.title {
  color: #975e9a;
}

.mobileTitle {
  font-size: 13px;
}

@media only screen and (min-width: 861px) {
  .mobileContainer {
    display: none;
  }
}

@media only screen and (max-width: 860px) {
  .containerDefault {
    display: none;
  }
  .container {
    border: none;
  }
}
