name: Rush CI (changelog, build, test)
# All pull requests, and
# Workflow dispatch allows you to run this workflow manually from the Actions tab
on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  AFFECTED_OR_ALL: |
    ${{ github.ref_name == 'main' && ' ' || format('--to git:origin/{0} --from git:origin/{0}', github.base_ref)  }}

jobs:
  build:
    name: ${{ matrix.os }} - Node.js v${{ matrix.NodeVersion }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        NodeVersion: [16, 18]

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Fetch base branch
        if: github.ref_name != 'main'
        run: git fetch origin ${{ github.base_ref }}

      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.NodeVersion }}

      - name: Cache Rush
        uses: actions/cache@v3
        with:
          path: |
            common/temp/install-run
            ~/.rush
          key: cache-rush-${{ runner.os }}-${{ hashFiles('rush.json') }}

      - name: Cache pnpm
        uses: actions/cache@v3
        with:
          path: |
            common/temp/pnpm-store
          key: cache-pnpm-${{ runner.os }}

      - name: Rush install (install-run-rush)
        run: |
          node common/scripts/install-run-rush.js install ${{ env.AFFECTED_OR_ALL }}

      - name: Rush build + test (install-run-rush)
        run: |
          node common/scripts/install-run-rush.js build --verbose ${{ env.AFFECTED_OR_ALL }}
          node common/scripts/install-run-rush.js test --verbose ${{ env.AFFECTED_OR_ALL }}
        env:
          # Prevent time-based browserslist update warning
          # See https://github.com/microsoft/rushstack/issues/2981
          BROWSERSLIST_IGNORE_OLD_DATA: 1

      - name: Rush format (install-run-rush)
        if: github.ref_name != 'main'
        run: |
          node common/scripts/install-run-rush.js format:ci --verbose ${{ env.AFFECTED_OR_ALL }}

      - name: Rush verify Change Logs (install-run-rush)
        if: github.ref_name != 'main'
        run: |
          node common/scripts/install-run-rush.js change --verify --target-branch origin/${{ github.base_ref }}
