name: Rush CI (changelog, retest)
# All pull requests, and
# Workflow dispatch allows you to run this workflow manually from the Actions tab
on: [pull_request, workflow_dispatch]
jobs:
  build:
    name: ${{ matrix.os }} - Node.js v${{ matrix.NodeVersion }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        NodeVersion: [16, 18]

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Fetch base branch
        run: git fetch --deepen=2 origin ${{ github.base_ref }}

      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.NodeVersion }}

      - name: List impacted packages
        run: |
          node common/scripts/install-run-rush.js list --to git:origin/${{ github.base_ref }}

      - name: Rush install (install-run-rush)
        run: |
          node common/scripts/install-run-rush.js install --to git:origin/${{ github.base_ref }}

      - name: Rush retest (install-run-rush)
        run: |
          node common/scripts/install-run-rush.js build --verbose --to git:origin/${{ github.base_ref }}
          node common/scripts/install-run-rush.js retest --verbose --to git:origin/${{ github.base_ref }}
        env:
          # Prevent time-based browserslist update warning
          # See https://github.com/microsoft/rushstack/issues/2981
          BROWSERSLIST_IGNORE_OLD_DATA: 1

      - name: Rush verify Change Logs (install-run-rush)
        run: node common/scripts/install-run-rush.js change --verify
