name: Rush CI (changelog, retest)
on:
  pull_request:
    branches: ['master']
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  build:
    name: ${{ matrix.os }} - Node.js v${{ matrix.NodeVersion }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false

      matrix:
        os: [ubuntu-latest]
        NodeVersion: [16, 18]

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.NodeVersion }}

      - name: Rush install (install-run-rush)
        run: |
          node common/scripts/install-run-rush.js install --impacted-by git:origin/master

      - name: Rush retest (install-run-rush)
        run: |
          node common/scripts/install-run-rush.js retest --verbose --impacted-by git:origin/master
        env:
          # Prevent time-based browserslist update warning
          # See https://github.com/microsoft/rushstack/issues/2981
          BROWSERSLIST_IGNORE_OLD_DATA: 1

      - name: Rush verify Change Logs (install-run-rush)
        run: node common/scripts/install-run-rush.js change --verify
