name: Docs website data ingestion to Algolia for semantic search

on:
  push:
    branches:
      - main
    paths:
      - packages/apps/docs/**

jobs:
  ingestion:
    name: Ingestion docs website data to Algolia
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          show-progress: false

      - uses: actions/setup-node@v3
        with:
          node-version: 20

      - uses: pnpm/action-setup@v2
        with:
          version: 9

      - name: pnpm install
        run: pnpm install

      - name: Build docs dependencies
        run: pnpm turbo run build --filter=@kadena/docs^...

      - name: Ingest docs to Algolia
        run: pnpm run 7d:ingest-algolia-prod
        working-directory: packages/apps/docs
        env:
          ALGOLIA_APP_ID: ${{ secrets.ALGOLIA_APP_ID }}
          ALGOLIA_API_KEY: ${{ secrets.ALGOLIA_API_KEY }}
          ALGOLIA_INDEX_NAME: docs_website_prod
